.App {
  text-align: center;
}

.containerstyle{
  background-color: #F7C91A;
 
  }

.columnstyle{
  background-color: black;
}

.divstyle{
  background-color: #F7C91A;
}
.div2style{
  background-color: #F7C91A;
  text-align: left;
  text-indent: 10%;
  height:100px;

}

.pstyle{

  padding: 30px;
  font-size: 30px;
}

.buttonstyle{
  background-color: black;
  color: white;
  width: 100%;
  height:50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
